body {
    margin:2%;
    font-size:30px;
    font-family:sans-serif;
    background-color:lightblue;

}
ul {background-color:navajowhite;
    padding:30px;}

h1 { color:white;
     color: white;
     text-shadow: 2px 2px 4px #000000;
     /* horizontal 2px, vertical 2px, esfumaçado 4px, preto  */
    }

.quadro {
    background-color:white;
    border:1px solid black;
    border-radius: 20px; /* tamanho do canto arredondado */
    font-family:monoespace;
    white-space:pre; /* faz com que enter seja reconhecido 
                     como quebra de linha */
    padding:30px;
    
    box-shadow: 4px 4px 10px 0px black ;
        /*horizontal  4px
         vertical     4px
         esfumaçado   10px
         espalhamento 0px
         cor:         preto
          */     
          
}