body {
	margin:0;
}

.tituloVermelho {
	color:red;
}

#meuParagrafo {
	background-color:yellow;
}

.fonteArial {
	font-family:Arial;
}
.dv01 {
	width:400px;
	height:50px;
	overflow:auto;
	border:1px solid red;
}